{
  "extends": [
    "eslint:recommended"
  ],
  "plugins": [
    "jest"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "spread": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-console": "off",
    "comma-dangle": [
      "error",
      "never"
    ],
    "semi": [
      "warn",
      "always"
    ],
    "no-empty": "warn",
    "no-empty-function": "warn",
    "max-len": [
      "warn",
      {
        "code": 120,
        "tabWidth": 2
      }
    ],
    "quotes": [
      "warn",
      "single"
    ]
  }
}